{% extends "layout.html" %}

{% block content %}
<div class="jumbotron ">
    <h1 class="display-4 text-center">Home Page</h1>
    <p class="lead">This WebSite was created by Saúl Medina. I'm learn Python</p>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aut voluptates eos sint pariatur corrupti
        ipsum dignissimos laboriosam ad odio quae, provident, nesciunt necessitatibus iste consequuntur itaque, rem
        quisquam facilis!
    </p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, tempore nihil! Obcaecati facilis consectetur
        eius ipsam, dignissimos atque ab soluta ad nam. Aliquam harum autem repellat eius, eligendi maiores ullam?
    </p>
    <a href="#" role="button" class="btn btn-primary btn-lg">Learn More</a>
</div>
{% endblock %}